.inputarea {
	display: block;
	margin: 0;
	resize: none;
	border: none;
	outline: none;
	background: #fff;
	background: linear-gradient(to left, #e9f2fa, #fff);
}

#top {
	height: 0;
}

#head {
	padding: 8px 0 5px 8px;
	float: left;
}

#head > span {
	float: left;
	margin-right: 8px;
}

#head .text_small {
	margin-top: 3px;
}

#features > span {
	padding: 0 2px;
	margin-left: 8px;
	border-radius: 2px;
}

#content {
	top: 90px;
	height: 445px;
	background: linear-gradient(to right, #d2e0f2, #f2fafe);
}

#left {
	float: left;
	width: 390px;
}

#right {
	float: right;
	margin: 2px 5px;
}

#show {
	height: 300px;
}

.foot {
	padding-top: 5px;
	overflow: hidden;
}

.foot > span {
	float: right;
}

#T1 {
	width: 100%;
	height: 288px!important;
}

#T2 {
	width: 100%;
	height: 95px!important;
}

#tools {
	width: 100%;
	height: 23px;
	padding: 2px 0;
}

#tools > span {
	margin: 1px 0 0 5px;
	height: 16px;
}

#smiley {
	top: 79px;
	left: 1px;
	width: 310px;
	height: 200px;
	position: absolute;
	border-radius: 2px;
	border: 1px solid #ddd;
	background: #fff;
	padding: 3px;
	overflow: auto;
}

#smiley > img {
	margin: 1px;
	padding: 2px;
}

#video {
	padding-top: 3px;
	text-align: center;
}

.btns {
	padding: 8px 0;
}

#video .btn {
	margin: 5px auto;
}

.alert {
	width: inherit;
	box-shadow: none;
	color: #333;
	text-align: left;
	padding: 0 10px;
	background: linear-gradient(to right, #CEDFF8, rgba(0, 0, 0, 0));
}