
body {
	-webkit-user-select: none;
	font-family: Arial,"微软雅黑","文泉驿微米黑","Helvetica Neue",Helvetica,sans-serif;
}

img {
	vertical-align: bottom;
}

.unit {
	overflow: hidden;
	margin: 8px 0;
}

.unit-left > span {
	float: left;
}

.unit-right > span {
	float: right;
}

.box {
	border: 1px solid #d0d6dc;
	border-radius: 5px;
	background-color: #e6e6e6;
	box-shadow: 0 1px 1px #999;
	padding: 5px 10px;
	margin: 0 10px 2px 10px;
	min-height: 18px;
	max-width: 73.5%;
	-webkit-user-select: auto;
}

.img_30x30 {
	width: 30px;
	height: 30px;
	border-radius: 5px;
}